{
    "swagger": "2.0",
    "info": {
        "title": "kincone Web API",
        "version": "1.3.1"
    },
    "host": "api.kincone.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/attendance": {
            "post": {
                "tags": [
                    "attendance"
                ],
                "summary": "\u52e4\u6020\u767b\u9332\u30fb\u66f4\u65b0",
                "description": "\u6307\u5b9a\u3057\u305f\u5f93\u696d\u54e1\u3068\u51fa\u52e4\u65e5\u306b\u8a72\u5f53\u3059\u308b\u52e4\u6020\u660e\u7d30\u3092\u767b\u9332\u30fb\u66f4\u65b0\u3057\u307e\u3059\u3002<br>\u5c31\u696d\u5f62\u614b\u306e\u300c\u4f11\u61a9\u306e\u4ed8\u4e0e\u65b9\u6cd5\u300d\u304c \"\u4e00\u5b9a\u6642\u9593\u4ee5\u4e0a\u52e4\u52d9\u3057\u305f\u5834\u5408\u306b\u4ed8\u4e0e\u3059\u308b\" \u306e\u5834\u5408\u306f\u4f11\u61a9\u6642\u9593\u304c\u81ea\u52d5\u7684\u306b\u8a08\u7b97\u3055\u308c\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "work_day",
                        "in": "formData",
                        "description": "\u51fa\u52e4\u65e5\uff08YYYY-MM-DD\uff09",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "start",
                        "in": "formData",
                        "description": "\u51fa\u52e4\u6642\u523b\uff08hh:mm\uff09",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "formData",
                        "description": "\u9000\u52e4\u6642\u523b\uff08hh:mm\uff09",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u5099\u8003",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "auto_give_breaks",
                        "in": "formData",
                        "description": "1\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u5c31\u696d\u5f62\u614b\u306e\u300c\u4f11\u61a9\u306e\u4ed8\u4e0e\u65b9\u6cd5\u300d\u304c \"\u6642\u9593\u5e2f\u3092\u6307\u5b9a\u3059\u308b\" \u306e\u5834\u5408\u306b\u4f11\u61a9\u6642\u9593\u304c\u81ea\u52d5\u7684\u306b\u8a08\u7b97\u3055\u308c\u307e\u3059\u3002",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "attendance": {
                                            "$ref": "#/definitions/attendanceModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/attendance/flags": {
            "post": {
                "tags": [
                    "attendanceFlags"
                ],
                "summary": "\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u8a2d\u5b9a",
                "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9\u3068\u65e5\u4ed8\u3092\u6307\u5b9a\u3057\u3066\u52e4\u6020\u660e\u7d30\u306b\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u3092\u767b\u9332\u3057\u307e\u3059\u3002\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\u5229\u7528\u304c ON \u306b\u306a\u3063\u3066\u3044\u308b\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u306f\u6307\u5b9a\u3067\u304d\u307e\u305b\u3093\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "description": "\u65e5\u4ed8\uff08YYYY-MM-DD\uff09",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "flags",
                        "in": "formData",
                        "description": "\u767b\u9332\u3057\u305f\u3044\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u540d\u306e\u914d\u5217",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "attendance": {
                                            "$ref": "#/definitions/attendanceModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "attendanceFlags"
                ],
                "summary": "\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u524a\u9664",
                "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9\u3068\u65e5\u4ed8\u3092\u6307\u5b9a\u3057\u3066\u52e4\u6020\u660e\u7d30\u306b\u767b\u9332\u3055\u308c\u3066\u3044\u308b\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u3092\u524a\u9664\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "description": "\u65e5\u4ed8\uff08YYYY-MM-DD\uff09",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "flags",
                        "in": "formData",
                        "description": "\u524a\u9664\u3057\u305f\u3044\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u540d\u306e\u914d\u5217\u3002\u7701\u7565\u6642\u306f\u767b\u9332\u3055\u308c\u3066\u3044\u308b\u5168\u3066\u306e\u4f11\u65e5\u7b49\u306e\u7a2e\u5225\u8a2d\u5b9a\u3092\u524a\u9664\u3057\u307e\u3059\u3002",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "attendance": {
                                            "$ref": "#/definitions/attendanceModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/attendance/hourly_paid_leave": {
            "post": {
                "tags": [
                    "attendanceHourlyPaidLeave"
                ],
                "summary": "\u6642\u9593\u4f11\u306e\u767b\u9332\u30fb\u66f4\u65b0",
                "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9\u3068\u65e5\u4ed8\u3092\u6307\u5b9a\u3057\u3066\u52e4\u6020\u660e\u7d30\u306b\u6642\u9593\u4f11\u3092\u767b\u9332\u3057\u307e\u3059\u3002\u6642\u9593\u4f11\u306e\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\u5229\u7528\u304c ON \u306b\u306a\u3063\u3066\u3044\u308b\u5834\u5408\u306f\u6307\u5b9a\u3067\u304d\u307e\u305b\u3093\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "description": "\u65e5\u4ed8\uff08YYYY-MM-DD\uff09",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "hours",
                        "in": "formData",
                        "description": "\u6642\u9593\u4f11\u306e\u53d6\u5f97\u6642\u9593",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "attendance": {
                                            "$ref": "#/definitions/attendanceModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "attendanceHourlyPaidLeave"
                ],
                "summary": "\u6642\u9593\u4f11\u306e\u524a\u9664",
                "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9\u3068\u65e5\u4ed8\u3092\u6307\u5b9a\u3057\u3066\u52e4\u6020\u660e\u7d30\u306b\u767b\u9332\u3055\u308c\u3066\u3044\u308b\u6642\u9593\u4f11\u3092\u524a\u9664\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "description": "\u65e5\u4ed8\uff08YYYY-MM-DD\uff09",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "attendance": {
                                            "$ref": "#/definitions/attendanceModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/attendance/workflow/{workflowID}": {
            "put": {
                "tags": [
                    "attendanceWorkflows"
                ],
                "summary": "\u52e4\u6020\u7533\u8acb\u627f\u8a8d\u53d6\u6d88",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u52e4\u6020\u306e\u627f\u8a8d\u3092\u53d6\u308a\u6d88\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "attendanceWorkflows"
                ],
                "summary": "\u52e4\u6020\u7533\u8acb\u627f\u8a8d",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u52e4\u6020\u306e\u7533\u8acb\u3092\u627f\u8a8d\u3057\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "attendanceWorkflows"
                ],
                "summary": "\u52e4\u6020\u7533\u8acb\u5dee\u623b\u3057",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u52e4\u6020\u306e\u7533\u8acb\u3092\u5dee\u623b\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u5dee\u623b\u3057\u30b3\u30e1\u30f3\u30c8",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/attendance/workflows": {
            "get": {
                "tags": [
                    "attendanceWorkflows"
                ],
                "summary": "\u52e4\u6020\u7533\u8acb\u4e00\u89a7\u53d6\u5f97",
                "description": "\u6307\u5b9a\u3057\u305f\u671f\u9593\u306e\u52e4\u6020\u7533\u8acb\u4e00\u89a7\u3092\u8fd4\u3057\u307e\u3059\u3002",
                "parameters": [
                    {
                        "name": "term",
                        "in": "query",
                        "description": "\u5e74\u6708\uff08YYYYMM\uff09\u3002\u6307\u5b9a\u3055\u308c\u305f\u5e74\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002\u7701\u7565\u6642\u306f\u5f53\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u30b9\u30c6\u30fc\u30bf\u30b9\uff080: \u5168\u3066, 1: \u5dee\u623b\u3057, 2: \u7533\u8acb\u6e08\u307f, 3: \u627f\u8a8d\uff09",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "department_name",
                        "in": "query",
                        "description": "\u90e8\u7f72\u30fb\u5e97\u8217\u540d",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "workflows": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/attendanceWorkflowModel"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/attendances": {
            "get": {
                "tags": [
                    "attendances"
                ],
                "summary": "\u52e4\u6020\u4e00\u89a7\u53d6\u5f97",
                "description": "\u6307\u5b9a\u3057\u305f\u5f93\u696d\u54e1\u3068\u671f\u9593\u306b\u8a72\u5f53\u3059\u308b\u52e4\u6020\u306e\u4e00\u89a7\u3092\u8fd4\u3057\u307e\u3059\u3002",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "term",
                        "in": "query",
                        "description": "\u5e74\u6708\uff08YYYYMM\uff09\u3002\u6307\u5b9a\u3055\u308c\u305f\u5e74\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002\u7701\u7565\u6642\u306f\u5f53\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "attendances": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/attendanceModel"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/compensation/workflow/{workflowID}": {
            "post": {
                "tags": [
                    "compensationWorkflows"
                ],
                "summary": "\u4f11\u65e5\u51fa\u52e4\u30fb\u632f\u4f11\u30fb\u4ee3\u4f11\u306e\u7533\u8acb\u627f\u8a8d",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4f11\u65e5\u51fa\u52e4\u30fb\u632f\u4f11\u30fb\u4ee3\u4f11\u3092\u627f\u8a8d\u3057\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "compensationWorkflows"
                ],
                "summary": "\u4f11\u65e5\u51fa\u52e4\u30fb\u632f\u4f11\u30fb\u4ee3\u4f11\u306e\u5dee\u623b\u3057",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4f11\u65e5\u51fa\u52e4\u30fb\u632f\u4f11\u30fb\u4ee3\u4f11\u306e\u7533\u8acb\u3092\u5dee\u623b\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u5dee\u623b\u3057\u30b3\u30e1\u30f3\u30c8",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/compensation/workflows": {
            "get": {
                "tags": [
                    "compensationWorkflows"
                ],
                "summary": "\u4f11\u65e5\u51fa\u52e4\u30fb\u632f\u4f11\u30fb\u4ee3\u4f11\u306e\u7533\u8acb\u4e00\u89a7\u53d6\u5f97",
                "description": "\u6307\u5b9a\u3057\u305f\u671f\u9593\u306e\u4f11\u65e5\u51fa\u52e4\u30fb\u632f\u4f11\u30fb\u4ee3\u4f11\u306e\u7533\u8acb\u4e00\u89a7\u3092\u8fd4\u3057\u307e\u3059\u3002",
                "parameters": [
                    {
                        "name": "term",
                        "in": "query",
                        "description": "\u5e74\u6708\uff08YYYYMM\uff09\u3002\u6307\u5b9a\u3055\u308c\u305f\u5e74\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002\u4f11\u65e5\u51fa\u52e4\u65e5\u3001\u3042\u308b\u3044\u306f\u632f\u4f11\u30fb\u4ee3\u4f11\u53d6\u5f97\u65e5\u306e\u3044\u305a\u308c\u304b\u4e00\u65b9\u3067\u3082\u8a72\u5f53\u3059\u308b\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002\u7701\u7565\u6642\u306f\u5f53\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u30b9\u30c6\u30fc\u30bf\u30b9\uff080: \u5168\u3066, 1: \u5dee\u623b\u3057, 2: \u7533\u8acb\u6e08\u307f, 3: \u627f\u8a8d\uff09",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "department_name",
                        "in": "query",
                        "description": "\u90e8\u7f72\u30fb\u5e97\u8217\u540d",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "workflows": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/compensationWorkflowModel"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/departments": {
            "get": {
                "tags": [
                    "departments"
                ],
                "summary": "\u90e8\u7f72\u30fb\u5e97\u8217\u4e00\u89a7\u53d6\u5f97",
                "description": "\u5bfe\u8c61\u30a2\u30ab\u30a6\u30f3\u30c8\u306b\u7d10\u3065\u304f\u90e8\u7f72\u30fb\u5e97\u8217\u306e\u4e00\u89a7\u3092\u8fd4\u3057\u307e\u3059\u3002",
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "departments": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/departmentModel"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/expense": {
            "post": {
                "tags": [
                    "expenses"
                ],
                "summary": "\u4ea4\u901a\u8cbb\u767b\u9332",
                "description": "\u4ea4\u901a\u8cbb\u660e\u7d30\u3092\u767b\u9332\u3057\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "description": "\u5229\u7528\u65e5\uff08YYYY-MM-DD\uff09",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expense",
                        "in": "formData",
                        "description": "\u4ea4\u901a\u8cbb",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "\u4ea4\u901a\u624b\u6bb5\uff081: \u96fb\u8eca, 2: \u30d0\u30b9, 3: \u30bf\u30af\u30b7\u30fc, 4: \u65b0\u5e79\u7dda/\u7279\u6025, 5: \u98db\u884c\u6a5f, 6: \u8eca, 7: \u8239/\u30d5\u30a7\u30ea\u30fc, 8: \u305d\u306e\u4ed6, 0: \u7269\u8ca9\uff09",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "in",
                        "in": "formData",
                        "description": "\u5229\u7528\u533a\u9593\uff08\u5165\u5834\u99c5\uff09",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "out",
                        "in": "formData",
                        "description": "\u5229\u7528\u533a\u9593\uff08\u51fa\u5834\u99c5\uff09",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "purpose",
                        "in": "formData",
                        "description": "\u7528\u9014\uff08\u4ea4\u901a\u8cbb\u306e\u660e\u7d30\u306b\u7528\u9014\u6b04\u3092\u8ffd\u52a0\u3059\u308b\u8a2d\u5b9a\u306b\u306a\u3063\u3066\u3044\u308b\u5834\u5408\u306e\u307f\u4f7f\u7528\u51fa\u6765\u307e\u3059\uff09",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u8a2a\u554f\u5148/\u5099\u8003",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "expense": {
                                            "$ref": "#/definitions/expenseModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/expense/workflow/{workflowID}": {
            "put": {
                "tags": [
                    "expenseWorkflows"
                ],
                "summary": "\u4ea4\u901a\u8cbb\u7533\u8acb\u627f\u8a8d\u53d6\u6d88",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4ea4\u901a\u8cbb\u306e\u627f\u8a8d\u3092\u53d6\u308a\u6d88\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "expenseWorkflows"
                ],
                "summary": "\u4ea4\u901a\u8cbb\u7533\u8acb\u627f\u8a8d",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4ea4\u901a\u8cbb\u306e\u7533\u8acb\u3092\u627f\u8a8d\u3057\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "expenseWorkflows"
                ],
                "summary": "\u4ea4\u901a\u8cbb\u7533\u8acb\u5dee\u623b\u3057",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4ea4\u901a\u8cbb\u306e\u7533\u8acb\u3092\u5dee\u623b\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u5dee\u623b\u3057\u30b3\u30e1\u30f3\u30c8",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/expense/workflows": {
            "get": {
                "tags": [
                    "expenseWorkflows"
                ],
                "summary": "\u4ea4\u901a\u8cbb\u7533\u8acb\u4e00\u89a7\u53d6\u5f97",
                "description": "\u6307\u5b9a\u3057\u305f\u671f\u9593\u306e\u4ea4\u901a\u8cbb\u7533\u8acb\u4e00\u89a7\u3092\u8fd4\u3057\u307e\u3059\u3002",
                "parameters": [
                    {
                        "name": "term",
                        "in": "query",
                        "description": "\u5e74\u6708\uff08YYYYMM\uff09\u3002\u6307\u5b9a\u3055\u308c\u305f\u5e74\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002\u7701\u7565\u6642\u306f\u5f53\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u30b9\u30c6\u30fc\u30bf\u30b9\uff080: \u5168\u3066, 1: \u5dee\u623b\u3057, 2: \u7533\u8acb\u6e08\u307f, 3: \u627f\u8a8d\uff09",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "department_name",
                        "in": "query",
                        "description": "\u90e8\u7f72\u30fb\u5e97\u8217\u540d",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "workflows": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/expenseWorkflowModel"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/flag/workflow/{workflowID}": {
            "post": {
                "tags": [
                    "flagWorkflows"
                ],
                "summary": "\u4f11\u65e5\u7b49\u306e\u7533\u8acb\u627f\u8a8d",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4f11\u65e5\u7b49\u306e\u7533\u8acb\u3092\u627f\u8a8d\u3057\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "flagWorkflows"
                ],
                "summary": "\u4f11\u65e5\u7b49\u306e\u7533\u8acb\u5dee\u623b\u3057",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u4f11\u65e5\u7b49\u306e\u7533\u8acb\u3092\u5dee\u623b\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u5dee\u623b\u3057\u30b3\u30e1\u30f3\u30c8",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/flag/workflows": {
            "get": {
                "tags": [
                    "flagWorkflows"
                ],
                "summary": "\u4f11\u65e5\u7b49\u306e\u7533\u8acb\u4e00\u89a7\u53d6\u5f97",
                "description": "\u6307\u5b9a\u3057\u305f\u671f\u9593\u306e\u4f11\u65e5\u7b49\u306e\u7533\u8acb\u4e00\u89a7\u3092\u8fd4\u3057\u307e\u3059\u3002",
                "parameters": [
                    {
                        "name": "term",
                        "in": "query",
                        "description": "\u5e74\u6708\uff08YYYYMM\uff09\u3002\u6307\u5b9a\u3055\u308c\u305f\u5e74\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002\u7701\u7565\u6642\u306f\u5f53\u6708\u306e\u30c7\u30fc\u30bf\u3092\u8fd4\u3057\u307e\u3059\u3002",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "\u30b9\u30c6\u30fc\u30bf\u30b9\uff080: \u5168\u3066, 1: \u5dee\u623b\u3057, 2: \u7533\u8acb\u6e08\u307f, 3: \u627f\u8a8d\uff09",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "\u30e1\u30fc\u30eb\u30a2\u30c9\u30ec\u30b9",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "department_name",
                        "in": "query",
                        "description": "\u90e8\u7f72\u30fb\u5e97\u8217\u540d",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "workflows": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/flagWorkflowModel"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/hourly_paid_leave/workflow/{workflowID}": {
            "post": {
                "tags": [
                    "hourlyPaidLeaveWorkflows"
                ],
                "summary": "\u6642\u9593\u4f11\u306e\u7533\u8acb\u627f\u8a8d",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u6642\u9593\u4f11\u306e\u7533\u8acb\u3092\u627f\u8a8d\u3057\u307e\u3059\u3002",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
                        "description": "API\u30b5\u30fc\u30d0\u30fc\u306e\u5185\u90e8\u7684\u306a\u30a8\u30e9\u30fc\u3067\u3059\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "hourlyPaidLeaveWorkflows"
                ],
                "summary": "\u6642\u9593\u4f11\u306e\u7533\u8acb\u5dee\u623b\u3057",
                "description": "\u6307\u5b9a\u3057\u305f\u7533\u8acbID\u306b\u8a72\u5f53\u3059\u308b\u6642\u9593\u4f11\u306e\u7533\u8acb\u3092\u5dee\u623b\u3057\u307e\u3059\u3002",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "workflowID",
                        "in": "path",
                        "description": "\u7533\u8acbID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "note",
                        "in": "formData",
                        "description": "\u5dee\u623b\u3057\u30b3\u30e1\u30f3\u30c8",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u6b63\u5e38\u6642",
                        "schema": {
                            "properties": {
                                "status": {
                                    "description": "\u7d50\u679c\u30b9\u30c6\u30fc\u30bf\u30b9",
                                    "type": "boolean"
                                },
                                "result_code": {
                                    "description": "\u7d50\u679c\u30b3\u30fc\u30c9",
                                    "type": "string"
                                },
                                "response": {
                                    "description": "API\u30ec\u30b9\u30dd\u30f3\u30b9",
                                    "properties": {
                                        "result": {
                                            "description": "\u51e6\u7406\u7d50\u679c",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "API\u30c8\u30fc\u30af\u30f3\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "403": {
                        "description": "API\u306b\u30a2\u30af\u30bb\u30b9\u3059\u308b\u6a29\u9650\u304c\u3042\u308a\u307e\u305b\u3093\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "422": {
                        "description": "\u30d1\u30e9\u30e1\u30fc\u30bf\u306e\u5024\u3092\u78ba\u8a8d\u3057\u3066\u4e0b\u3055\u3044\u3002",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    },
                    "500": {
[...]
